@model IEnumerable<ManageOrders00.Models.Product>

@{
    ViewData["Title"] = "Товари";
}

<h1>Товари</h1>

<p>
    <a asp-action="Create">Додати товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
