@model IEnumerable<ManageOrders00.Models.Customer>

@{
    ViewData["Title"] = "Покупці";
}

<h1>Покупці</h1>

<p>
    <a asp-action="Create">Додати нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ім'я покупця
            </th>
            <th>
                Прізвище покупця
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerSurName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
